.team{
	font-size: 43px;
	text-decoration: underline;
	text-align: center;
	color: white;
	margin-right: 400px;

}

.bio{
   padding: 20px;
   margin: 30px;
   border-color: yellow;
   border-style: solid;
   border-width: 8px;
   color: white;
   font-size: 18px;


}

li{
	display: inline-block;
	margin-right: 30px;
	padding-right: 20px;
	padding: 8px;

}


a{
	text-decoration: none;
	color: gray;
}

body{
	background-image: url("../images/lava3.jpg");
	background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.row{

	height: 100px;
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    left: 200px;
    margin: 20px

}
h1{
	text-align: center;
	color: white;
	font-size: 40px;
}

p{
	color: white;
	margin: 10px;
	font-size: 16px
}
.col-md-8{
	left: 200px
}




     
 
    